
body {
    font-family: 'Montserrat', sans-serif;
}

.card-header {
    background-color: #343a40;
}

.btn-outline-light {
    color: white;
}

    .btn-outline-light:hover {
        background-color: white;
        color: #343a40;
    }

.btn-dark {
    background-color: #343a40;
    border-color: #343a40;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.card-footer {
    background-color: #f8f9fa;
}
