@model int

<div class="container d-flex flex-column align-items-center justify-content-center min-vh-100">
    <div class="text-center">
        <h1 class="display-4">Thank You</h1>
        <br />
        <img src="~/img/confirm.png" class="img-fluid" alt="Confirmation Image" style="max-width: 600px; height: auto;" />
    </div>
    <div class="text-center mt-4">
        <h2 class="display-5">Your Order Number @Model Has Been Successfully Placed</h2>
    </div>
</div>

